/* Object Bodies */
body{
    background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/54641hd.jpg");
    z-index:0;
    position:relative;
}
p{
    margin:auto;
}
button{
    width:200px;
    height:200px;
    background-size: contain;
    background-color:transparent;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Classes */
.button{
    mix-blend-mode: multiply;
}
.hero{
    background-color:rgba(0, 0, 0, 0.7);
    min-height:200px;
    text-align:center;
    flex-direction: column;
    display:flex;
    margin:20px;
    padding: 20px;
}
.intro{
    flex:2;
    color: rgb(77, 7, 77);
    font-size:72px;
    text-shadow: 2px 2px rgb(156, 10, 10);
    font-weight: bolder;
    align-items:center;
}
.inspiration{
    flex:1;
    color: white;
    font-size:24px;
    text-shadow: 1px 1px darkslategrey;
}
.score{
    background-color: rgba(20, 20, 20, 0.5)
}
.counters{
    color:white;
    font-size:18px;
}
.guess, .goal{
    text-align:center;
    color:white;
    font-size:16px;
}
.hoseki{
text-align: center;
}
/* IDs */
#victory, #losses {
    color:white;
    font-size: 20px;
    text-align:center;
    font-weight:bold;
}